<div class="section">
	<div class="row">
		<div class="left" style="background-image: url({{model.img}});">
		</div>
		<div class="right">
			<h2>{{model.country}}</h2>
			<h3>{{model.city}}</h3>
			<p>{{model.coordinates}}</p>
			<br>
			<h3>{{model.date}}</h3>
			<h3>{{model.travellers}}</h3>
			<h3>{{model.description}}</h3>
		</div>
	</div>
</div>


